/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

General Styling
body{

} */

/* Navbar Styling */
.navbar-nav .active {
    font-weight: bold;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.navbar-brand {
    color: #3B2F2F;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../images/hero.png') no-repeat center center;
    background-size: cover;
    color: #FFEBD4;
    padding: 100px 0;
}

.hero-section h1 {
    font-family: 'Handlee', cursive;
}

.btn {
    color: #3B2F2F;
}
