h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Handlee', cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar Styling */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-nav .active {
    font-weight: bold;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.navbar-brand {
    color: #3B2F2F;
}

/* Header */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png') no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
}


.btn {
    color: #3B2F2F;
}

/* Main */
main {
    margin: 2rem 0;
}

/* Our Services Section */
.card {
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Footer */
.footer{
    margin-top: auto;
    background-color: #6F4E37;
    color: #FFEBD4;
}

.footer i.bi{
    color: #FFEBD4;
}